* {
  margin: 0;
  padding: 0;
}
.Contact_Contact {
  padding: 18px;
}
.linee {
  width: 100%;
  opacity: 0.2;
}
.footerr {
  text-align: left;
}
.zuriii {
  padding-top: 37.24px;
}
.internn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
  padding-top: 12px;
  padding-bottom: 16px;
}
/* .ingresss {
    padding-bottom: 32px;
  } */
.contactMe {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #101828;
  padding-top: 40px;
  padding-bottom: 10px;
}
.contactPa {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
  color: #475467;
  width: 100%;
  padding-bottom: 30px;
}
.llabel1 {
  display: grid;
  grid-template-columns: 1fr;
}
.llabel2 {
  display: grid;
  grid-template-columns: 1fr;
}
#first_name {
  height: 44px;
  background: #ffffff;
  border: 1px solid orangered;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 0 14px;
  margin-bottom: 22px;
  font-size: 16px;
  color: #667085;
}
#first_name-NX {
    height: 44px;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 0 14px;
    margin-bottom: 22px;
    font-size: 16px;
    color: #667085;
  }
#last_name {
  height: 44px;
  background: #ffffff;
  border: 1px solid orangered;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 0 14px;
  margin-bottom: 22px;
  font-size: 16px;
  color: #667085;
}
#last_name-NX {
    height: 44px;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 0 14px;
    margin-bottom: 22px;
    font-size: 16px;
    color: #667085;
  }
#email {
  height: 44px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 0 14px;
  font-size: 16px;
  color: #667085;
}
label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344054;
  padding-bottom: 6px;
}
.mess {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344054;
  padding-bottom: 6px;
  margin-top: 22px;
}
#message {
  height: 132px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  padding: 15px;
  color: #667085;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.check {
  display: flex;
  padding-bottom: 32px;
  margin-top: 24px;
}
.check > input {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  accent-color: #FFFFFF;
}
.check > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  width: 30ch;
}
#btn__submit {
  width: 100%;
  height: 48px;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 85px;
  transition: 0.2s;
}
#btn__submit:hover {
  background: #0059d6;
}
.lab {
  color: #f83f23;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .Contact_Contacts {
    padding: 0 15%;
  }
  .llabel {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  .llabel1 {
    width: 100%;
  }
  .check > p {
    width: 100%;
  }
  .footerr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 52px;
  }
  .internn {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #667085;
  }
  .zuriii {
    padding: 0;
    width: 185.03px;
  }
  .ingresss {
    padding: 0;
    width: 132.13px;
  }
  .linee {
    width: 92%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .Contact_Contacts {
    padding: 0 20%;
  }
}
@media (min-width: 1200px) {
  .Contact_Contacts {
    padding: 0 25%;
  }
}
