.linee {
    width: 91%;
    margin: 0 auto;
    opacity: 0.2;
  }
  .footerr {
    text-align: left;
    padding-left: 17.02px;
  }
  .zuriii {
    padding-top: 37.24px;
  }
  .internn {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    padding-top: 12px;
    padding-bottom: 16px;
  }
  /* .ingresss {
    padding-bottom: 32px;
  } */